.react-autosuggest__container {
	position: relative;
}

.react-autosuggest__input {
	width: 220px;
	height: 2.25em;
	padding: 10px 20px;
	font-family: Helvetica, sans-serif;
	font-weight: 300;
	font-size: 1rem;
	border: 1px solid transparent;
	border-color: #dbdbdb;
	border-radius: 3px;
	padding-bottom: calc(0.375em - 1px);
	padding-left: calc(0.625em - 1px);
	padding-right: calc(0.625em - 1px);
	padding-top: calc(0.375em - 1px);
}

.react-autosuggest__input--focused {
	outline: none;
}

.react-autosuggest__input--open {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
	display: none;
}

.react-autosuggest__suggestions-container--open {
	display: block;
	position: absolute;
	top: 33px;
	width: 100%;
	min-width: 160px;
	margin-left: 1px;
	border: 1px solid #aaa;
	background-color: #ffffff;
	font-family: Helvetica, sans-serif;
	border-radius: 0 4px 0 4px;
	z-index: 2;
	background-clip: padding-box;
}

.react-autosuggest__suggestions-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.react-autosuggest__suggestion {
	cursor: pointer;
	padding-bottom: calc(0.375em - 1px);
	padding-left: calc(0.625em - 1px);
	padding-right: calc(0.625em - 1px);
	padding-top: calc(0.375em - 1px);
	/*padding: 10px 20px;*/
}

.react-autosuggest__suggestion--highlighted {
	background-color: #ddd;
}
